@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: #141414;
}

.top-gradient {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.primary-gradient:hover {
  background: var(
    --less-opacity-brand,
    linear-gradient(
      266deg,
      rgba(254, 98, 114, 0.5) 0%,
      rgba(252, 148, 70, 0.5) 100%
    )
  );
}
.primary-gradient {
  background: var(
    --less-opacity-brand,
    linear-gradient(
      266deg,
      rgba(254, 98, 114, 0.5) 0%,
      rgba(252, 148, 70, 0.5) 100%
    )
  );
}

.primary-gradient-nonhover {
  background: var(
    --less-opacity-brand,
    linear-gradient(
      266deg,
      rgba(254, 98, 114, 0.5) 0%,
      rgba(252, 148, 70, 0.5) 100%
    )
  );
}

/* .featured-gradient {
  background: black;
} */
/* .featured-gradient {
  background: var(
    --secondary-less-opacity,
    linear-gradient(
      266deg,
      rgba(70, 77, 255, 0.5) 0%,
      rgba(91, 195, 253, 0.5) 100%
    )
  );
} */
.featured-gradient {
  background: var(
    --secondary-less-opacity,
    linear-gradient(
      266deg,
      rgba(70, 77, 255, 0.5) 0%,
      rgba(91, 195, 253, 0.5) 100%
    )
  );
}

.raffle-gradient {
  background: linear-gradient(
    266deg,
    rgba(254, 98, 114, 0.25) 0%,
    rgba(252, 148, 70, 0.25) 100%
  );
}
