@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background: #141414 url("/bg.svg") no-repeat fixed bottom;
}

.primary-gradient:hover {
  background: var(
    --less-opacity-brand,
    linear-gradient(
      266deg,
      rgba(254, 98, 114, 0.5) 0%,
      rgba(252, 148, 70, 0.5) 100%
    )
  );
}
/* .featured-gradient {
  background: black;
} */
/* .featured-gradient {
  background: var(
    --secondary-less-opacity,
    linear-gradient(
      266deg,
      rgba(70, 77, 255, 0.5) 0%,
      rgba(91, 195, 253, 0.5) 100%
    )
  );
} */
.featured-gradient:hover {
  background: var(
    --secondary-less-opacity,
    linear-gradient(
      266deg,
      rgba(70, 77, 255, 0.5) 0%,
      rgba(91, 195, 253, 0.5) 100%
    )
  );
}

.raffle-gradient {
  background: linear-gradient(
    266deg,
    rgba(254, 98, 114, 0.25) 0%,
    rgba(252, 148, 70, 0.25) 100%
  );
}
